<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
   <title>Liam May Portfolio</title>
  <link rel="stylesheet" href="assets/css/stylesheet.css">

 </head>
 <body>
   
<!-- Site navigation menu -->
 <ul class="navbar">
     <li><a><!--<form action="https://thetriangletrippa.github.io/Portfolio/Liam_K_May_CV_2021.pdf" method="get" target="_blank" >-->
        <form action="https://thetriangletrippa.github.io/Portfolio/dwnld_test.txt" method="get" target="_blank" >
          <button class="downloader" style="vertical-align:middle"><span>"Download My CV here!"</span>
          </button>
        </form>
       </a>
  <li><a href="index.html">Home page</a>
  <li><a href="ProdDesign.html">Product Design</a>
  <li><a href="CompSci.html">Computer science</a>
  <li><a href="links.html">My hobbies: Exibition of me.</a>
</ul>

    
    <!-- Content -->
    <h1 class="title"> A compeadium of my computer science <br>enducation and my intesrest in the field.</h1>
   
   <h3 class="languages">
     <ul class="languages">
        <li><a href="#python_id">Python</a>
        <li><a href="#c_id">C and C+ </a>
        <li><a href="#sql_id"> SQL</a>
        <li><a href="#java_id">Java </a>
       <li> <a href="#html_id">HTML</a>
        </ul>
   </h3>

   <h2 class="heading1" id="python_id"> Python:</h2>
   <p class="info"> Throught outmy studies I have learn a range of python programming from calsses, UI and matlib. I can use python to do complex mathematics.
    Some examples of the sorting algorithuiums I can code:
     
     
    Some spanning tree algorithiums:
     
     
    and some UI examples:
  


   <h2 class="heading2" id="c_id"> C and C+ (OpenGL):</h2>
   <p class="info"> info on what i know like, and want to develop into wiht C and opengl etc
     C enables me to use buffers, setup servers and create some ridged high proformance programs using Malloc, calloc while ebing to a range of hyperthreaded situations.
     
     some examples are a basic text baised adventure game:
     
     another example is a word processsing interface:
     
     and come common utility type features:
     
    OpenG:: here are some of the opengl projects I have done. THese include interaction via perhipheal interface as well as a ray trace.
   
   <h2 class="heading3" id="sql_id"> SQL:</h2>
   <p class="info"> 
     On my progression through SQL I have understanding from the object orintated database thorugh all ranges of its applicaitons, 
     quries, inputs, assetions and ensuring that the database is kept consistant. I understnad indexing and the various types of indexing/hashing and how the databases are stored on disk,
     the ranges and appclications of disk and the ACID properties associated wiht getting data to and from disk. 
     
   <h2 class="heading4" id="java_id"> Java:</h2
   <p class="info"> what i kno in java and try exhibit the game i made and my other projects that have it envolved.
    Jave the the least used programmign lanuage tha I knwo, but i have some faily impressive results form it wihtout trying to boast.
    This game was made from Java, I specfically developed an interface in which the rest of the game ran on, 
    this allow for etrmely vercitly and easy implimention of the games functionality.
     
    I have understnading off all the basic aespects of using java as an object orintated programming language and how they might be implicated - this leads to windows, and management/handeling of these UIs.
     
   <h2 class="heading5" id="html_id"> HTML:</h2>
   <p class="info">give some examples of a few differn we pages of this website i have made with a varity of themes.
     iamges of this web page in development.

 </body>
</html>   
    
    
