<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
   <title>Liam May Portfolio</title>
  <link rel="stylesheet" href="../assets/css/stylesheet.css">

 </head>
 <body>
   
<!-- Site navigation menu -->
 <ul class="navbar">
     <li><a>
          <form action="https://raw.githubusercontent.com/TheTriangleTrippa/Portfolio/5ac76c2d99d8d941c1ced57cc7c362c4fdcf9eac/LIAM-MAY-CV.pdf" method="get" target="_blank" >
           
          <button class="downloader" style="vertical-align:middle"><span>"Download My CV here!"</span>
          </button>
        </form>
       </a>
  <li><a href="../index.html">Home page</a>
  <li><a href="ProdDesign_pg.html">Product Design</a>
  <li><a href="CompSci_pg.html">Computer science</a>
     <li><a href="CompSciGraphics_pg.html">Computer Graphics Work.</a>
  <li><a href="links_pg.html">My hobbies: Exibition of me.</a>
</ul>

    
    <!-- Content -->
    <h1 class="title"> A Showcase of my Coded Computer Graphics Work.</h1>
   
    <container class="display">
       
     
     <!--  
     <script>
          function dispFunction(item) {
            return (<img class="display" src=item>);
         }
   
          var fs = require('fs');
          var files = fs.readdirSync("../assets/img/*.png");
          files.foreach(dispFunction)

      </script> -->
      
      <h2>OpenGL 2</h2>
      <p> Ray tracing</p>
        <img class="display" src="../assets/img/123952925_378322100271065_242517795086135743_n.png">
          <h2>OpenGL 4</h2>
            <p>Skeleton rigging and animations</p>
       <img class="display" src="../assets/img/Cover Page.png">
         <p>Non-Realistic Rendering</p>
       <img class="display" src="../assets/img/front.png">
       <img class="display" src="../assets/img/fulllineTexCamel.png">
         <img class="display" src="../assets/img/fullineColourCamel.png">
          <img class="display" src="../assets/img/creaseRenders.png">
                   <p>Terrain Generation</p>
          <img class="display" src="../assets/img/fog_Terrain_map_2_birds_eye.png">
    </container>
 </body>
</html>   
    
    
