<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
   <style>
     {
       
     }
  </style>
</head>
<body>
  <div id="athc_bx1" style="background-colour=cyan; padding: 30px; boarder: 1px solid purple;">
  </div>
  <div id="athc_bx2" style="background-colour=yellow; padding: 30px; boarder: 1px solid green;">
  </div><div id="athc_bx3" style="background-colour=grey; padding: 30px; boarder: 1px solid yellow;">
  </div><div id="athc_bx4" style="background-colour=pink; padding: 30px; boarder: 1px solid blue;">
  </div>
</body>
</html>
