<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
   <title>Liam May Portfolio</title>
  <link rel="stylesheet" href="stylesheet.css">
  <style>

div.athc_bx1 {
  background-color: white;
  width: 350px;
  border: 2px solid lightgrey;
  padding: 50px;
  height: 300px;
  margin: 20px;
   top: 30em;
  left: 12em;
}

div.athc_bx2 {
  background-color: white;
  width: 350px;
  border: 2px solid lightgrey;
  padding: 50px;
  height: 300px;
  margin: 20px;
   top: 30em;
  left: 12em;
}
div.athc_bx3 {

background-color: white;
  width: 350px;
  border: 2px solid lightgrey;
  padding: 50px;
  height: 300px;
  margin: 20px;
   top: 30em;
  left: 12em;
}
div.athc_bx4 {
  background-color: white;
  width: 350px;
  border: 2px solid lightgrey;
  padding: 50px;
  height: 300px;
  margin: 20px;
   top: 30em;
  left: 12em;
}
    </style>
</head>
<body>
  
<!-- Site navigation menu -->
 <ul class="navbar">
     <li><a>
         <form action="https://raw.githubusercontent.com/TheTriangleTrippa/Portfolio/26a028aae0e9d737cc7f38f5a94c80d3e23680a6/LIAM-MAY-CV.pdf" method="get" target="_blank" >
          <button class="downloader" style="vertical-align:middle"><span>"Download My CV here!"</span>
          </button>
        </form>
       </a>
  <li><a href="../index.html">Home page</a>
  <li><a href="ProdDesign_pg.html">Product Design</a>
  <li><a href="CompSci_pg.html">Computer science</a>
      <li><a href="CompSciGraphics_pg.html">Computer Graphics Work.</a>
  <li><a href="links.html">My hobbies: Exibition of me.</a>
</ul>

    
<!-- Content section -->
<h1> Product Design Projects!</h1>
   <h2> Product Design 2nd Year</h2>
   <ul>
       <li> Material investigation and matierals in design.
     <li> Playground equipment design.
  <li> Folding Chair Redesign.
</ul>
   <p class="info">  I was assigned PLA to research and design with, his involved working to manufacture a prototype, working from recycled material sources. 
      This was our designed product, that ideally would be the final prodcut given proper manufacturig facilities. This was another group assignment, 
      presenting a model, promotional video and design package.
</p>
    <iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcffe553c0d54d76321?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
     
   <p class="info">  Designed a piece of playground equipment. Intially I had to design a exisitng piece of equipment - 
      this was more of a CAD exorcise. I was then required to design an entire piece using the full design process, this was a group activity, 
      presenting a full portfolio on completion.
</p>
   <iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcfe71c24be70af0849?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
  <iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcfe194429b90d2c308?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>

  
<p class="info"> Redesign of a folding chair. The first two are models of two chairs we had 
   as reference strcutures, these chairs where then used to redesign teh cair depending on our target market, which was a festival chair. The Third mopdel is the 2nd development of my design iterations.
   THe 4th model is our final design fitted with a cargo net.
</p>
<iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcfa545429400bce58c?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
<iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcf45389b6db30b2bb5?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
<iframe src="https://uclive352.autodesk360.com/shares/public/SH35dfcQT936092f0e4331f8ba2087aa8585?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
<iframe src="https://uclive352.autodesk360.com/shares/public/SH512d4QTec90decfa6e9851bb404499416b?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
   <p class="info"> e first two are models of two chairs we had 
   as reference strcutures, these chairs where then used to redesign teh cair depending on our target market, which was a festival chair. The Third mopdel is the 2nd development of my design iterations. 
</p>
   <!-- <iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcf7c0eccdc215b43a7?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
 -->
      <iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcf66e730068e3642c2?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>

 <!--  <iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcf45389b6db30b2bb5?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
<iframe src="https://uclive352.autodesk360.com/shares/public/SH35dfcQT936092f0e4331f8ba2087aa8585?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
-->
       <iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcf66e730068e3642c2?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>

   <!-- <iframe src="https://uclive352.autodesk360.com/shares/public/SH919a0QTf3c32634dcf7c0eccdc215b43a7?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
 -->
      
<!-- <div class="athc_bx1"></div>
<div class="athc_bx2"></div>
<div class="athc_bx3"></div>
<div class="athc_bx4"></div> -->
</body>
</html> 
