<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Liam May Portfolio</title>
   <link rel="stylesheet" href="assets/css/stylesheet.css">
</head>
<body>

<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="index.html">Home page</a>
  <li><a href="transit.html">Product Design</a>
  <li><a href="town.html">Computer science</a>
  <li><a href="links.html">My hobbies: Exibition of me.</a>
</ul>

<!-- Main content -->
<h1 class="title">Welcome to my portfolio!</h1>

<h2 class="about_me">A bit about me:</h2>
  

  
<p class="bio">I'm a computer science and product design student graduate from University of Canterbury.
 I'm interseted in the low end of the computer sciense domain, initally embarking on my life of 
 higher education toplay with robots/prosthetics.I started looking at Mechatronics engineering, 
 but quickly decidedthat was not the route for me, moving towards a computer sicne and product design 
 pathway in my intermediate year. This route has left me in a cery exciting situation, and I can't wait to see where I end up!

<br><br>Outside of study, I play Ice Hockey on a regular basis, and also enjoy riding dirtbikes. Online side the extreme nature, 
I am also creative playing guitar from a young age this has lead to the part composition of an Extended PLay (EP). As well as being 
highly envolved in the fine arts of painting and design, which is am musing to develop a game, in which I am doing the concept 
artwork for - sadly I have progressed little in this endevour - but perhaps
one day I will finish, or meet others to join my project.

<h2 class="exploration">Here are some branches to Design and Computer science:</h2>
  <p>Feel free to look at it all!
    
<form action="https://thetriangletrippa.github.io/Portfolio/transit.html" method="get" target="_blank">
   <button class="button" style="vertical-align:middle"><span>Product Design </span> </button>
</form>
<form action="https://thetriangletrippa.github.io/Portfolio/CompSci.html" method="get" target="_blank">
  <button class="button" style="vertical-align:middle"><span>Computer Science </span></button>
</form>

<img class="drag" src="assets/img/random dragon dodle BG low.jpg">
  
<!-- Sign and date the page, it's only polite! -->
<address class="page_signing">Made 30 Augaust 2021<br>
  by Liam K. May.</address>

</body>
</html>
