.profile {
    background-color: pink !important;
    text-align: right;
    height: 320px;
    margin-bottom: 50px;
    h1 {
        font-size: 120px;
        font-weight: 700;
        color: pink;
    }
    
    img {
        border-radius: 50%;
        max-width: 10%;
        max-height: 10%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
    }
    
    .profile-picture {
        margin-bottom: 30px;
        height: 200px;
    }
}
