body {
      padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #d8da3d }

div.athc_bx1 {
  postion:absolute;
  top: 10%;
  left: 10%;
}
div.athc_bx2 {
  postion:absolute;
  top: 30%;
  left: 30%;
}
div.athc_bx3 {
  postion:absolute;
  top: 30%;
  left: 10%;
}
div.athc_bx4 {
  postion:absolute;
  top: 10%;
  left: 30%;
}
